@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-foreground: #1e293b;

  --color-indigo: #6366f1;
  --color-orange: #f97316;

  --font-display: 'Clash Display', sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  overflow: hidden;
}